.login{
 width:30em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-color: white;
}

.list{
  width:100%;
  display: flex;
  flex-direction: column;
  padding : 0.5rem;
}

.btn{
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 12rem;
  background-color: transparent;
  cursor: pointer;
  border : 1px solid darkslategray;
  outline: none;
  margin : 2px;
}

.btn:hover{
  background-color: darkslategray;
  color:yellow;
}

.btn:active{
  color:red;
}